{% extends "base.html" %}
{% block content %}
<!-- <div id="servermsg"><h1>Message log:</h1></div> -->
<div class="game" id="gameDiv">
	<body onload="init();">
	 <div id="gameCanvas" width="500" height="300"></div>
	</body>

</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="{{url_for('.static', filename='game.js')}}"></script>
{% endblock %}
